Hero Detail Component
<div *ngIf="hero">
  <div *ngIf="!update">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <span id="hero-name" placeholder="name">{{hero.name}}</span>
      <br>
      <label>Point de vie : </label>
      <span>{{hero.pv}}</span>
      <br>
      <label>Attaque : </label>
      <span>{{hero.attaque}}</span>
      <br>
      <label>Esquive : </label>
      <span>{{hero.esquive}}</span>
      <br>
      <label>Degats : </label>
      <span>{{hero.degats}}</span>
      <br>
      <label>Image : </label>
      <img  src="{{urlImageHtml}}" width="200" height="200" alt="">
      <br>

      <div *ngIf="weapon">
        <h3>Arme : {{weapon.name}}</h3>
        <label>Attaque : </label>
        <span>{{weapon.attaque}}</span>
        <br>
        <label>Degats : </label>
        <span>{{weapon.degats}}</span>
        <br>
        <label>Esquive : </label>
        <span>{{weapon.esquive}}</span>
        <br>
        <label>PV : </label>
        <span>{{weapon.pv}}</span>
        <br>

      </div>
      <br>
    </div>
  </div>
  <div *ngIf="update">
    <h2>{{hero.name | uppercase}} Mise a jour de votre Hero</h2>
    <form #formHero="ngForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="hero-name-update">Nom Hero: </label>
        <input type="text" id="hero-name-update" [(ngModel)]="hero.name" name="name" placeholder="Nom du hero">
        <br>
        <label for="hero-vie-update">Point de vie : </label>
        <input type="text" id="hero-vie-update" [(ngModel)]="hero.pv" name="pv" placeholder="point de vie du hero">
        <br>
        <label for="hero-attaque-update">Attaque Hero: </label>
        <input type="text" id="hero-attaque-update" [(ngModel)]="hero.attaque" name="attaque" placeholder="attaque du hero">
        <br>
        <label for="hero-esquive-update">Esquive: </label>
        <input type="text" id="hero-esquive-update" [(ngModel)]="hero.esquive" name="esquive" placeholder="esquive du hero">
        <br>
        <label for="hero-degats-update">Degats: </label>
        <input type="text" id="hero-degats-update" [(ngModel)]="hero.degats" name="degats" placeholder="degats du hero">
        <br>
        <label>Image : </label>
        <img  src="{{urlImageHtml}}" width="200" height="200" alt="">
        <input type="file" (change)="onselectImage($event)">
        <button *ngIf="urlImageHtml != 'assets/unknownImage.png'" (click)="deleteImage()">Delete Image</button>
        <br>
        <label for="weapon">Choisir une arme:</label>
        <select name="id_weapon" id="weapon" [(ngModel)]="hero.id_weapon">
          <option value="">--</option>
          <option *ngFor="let weapon of weapons; index as i; first as isFirst" [value]="weapon.id">
            {{weapon.name}} - Attaque : {{weapon.attaque}}
          </option>
        </select>
        <br>
      </div>
      <button>Valider</button>
      <!--[disabled]="!form.valid"-->
    </form>
  </div>
  <button>Utiliser {{hero.name}}</button>
</div>
<button (click)="goBack()">go back</button> <br>

