<div class="row" style="margin-right: 6px">
  <div class="col-lg-2">
    <div *ngIf="hero">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{heroImage}}g" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{hero.name}}</h5>
          <ul class="list-group">
            <li class="list-group-item">Attaque : {{hero.attaque}}</li>
            <li class="list-group-item">PV : {{hero.pv}}</li>
            <li class="list-group-item">Esquive : {{hero.esquive}}</li>
            <li class="list-group-item" *ngIf="weapon">Arme : {{weapon.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <h1>Current Player: {{ player }} </h1>
    <button style="margin-left: 45%" nbButton outline status="danger" (click)="newGame()">Start new Game</button>
    <h2 *ngIf="winner">
      Player {{ winner }} won the game!
    </h2>
    <!--TIC TAC TOE-->
    <main>
      <app-carre *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)"> </app-carre>
    </main>
  </div>
  <div class="col-lg-2">
    <!--COTE BOSS-->
    <div *ngIf="bosses">
      <!--AFFICHAGE DU BOSS EN COURS-->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://image.freepik.com/vecteurs-libre/couple-super-heros_1284-16926.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{bosses[0]?.name}}</h5>
          <ul class="list-group">
            <li class="list-group-item">Attaque : {{bosses[0]?.attaque}}</li>
            <li class="list-group-item">PV : {{bosses[0]?.pv}}</li>
            <li class="list-group-item">Esquive : {{bosses[0]?.esquive}}</li>
            <li class="list-group-item">Nombre de Victoire : {{bosses[0]?.nbrVictoire}}</li>
            <li class="list-group-item">Vaincu : {{bosses[0]?.vaincu}}</li>
          </ul>
        </div>
      </div>
      <!--AFFICHAGE DE LA LISTE DES BOSS-->
      <div> <!--ngForOf-->
        Boss Restants
        <ul class="list-group">
          <div *ngFor="let boss of bosses | slice:1; let i = index;">
             <a href="" id="{{boss.id}}"
                 style="text-decoration: none"><li class="list-group-item"> {{boss.name}}</li>
             </a>
            <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>
            &lt;!&ndash; Modal &ndash;&gt;
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{boss.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    yikes
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
