<div class="row" *ngIf="data; else noData">
  <div class="col-lg-3"></div>
  <main class="col-lg-6">
    <button class="btn col-lg-3"
            [ngClass]="{'btn-success' : data.typeInfo === 'victory',
            'btn-danger': data.typeInfo != 'victory'}">
      {{data.typeInfo}}
    </button>
    <button class="btn btn-warning col-lg-3" routerLink="/game-select/{{data.idHero}}/battle">
      RETRY
    </button>
    <button class="btn btn-secondary col-lg-3" routerLink="/heroes">
      Retour Choix Hero
    </button>
  </main>
  <div class="col-lg-3"></div>
</div>
<ng-template #noData>
  Il n'y a rien ici pour vous espece de tricheur
</ng-template>
