Weapon Detail Component
<div *ngIf="weapon">
  <h2>{{weapon.name | uppercase}} Details</h2>
  <div><span>id: </span>{{weapon.id}}</div>
  <br>
  <div>
    <label for="hero-name">Weapon name: </label>
    <input id="hero-name" [(ngModel)]="weapon.name" placeholder="name">
    <br>
    <h3>Arme</h3>
    <p>Nom : {{weapon.name}}</p>
    <p>Degats : {{weapon.degats}}</p>
    <p> Esquive : {{weapon.esquive}}</p>
    <p> Attaque : {{weapon.attaque}}</p>
    <p> Pv : {{weapon.pv}}</p>
  </div>
</div>
<button (click)="goBack()">go back</button>
