<h2>L'ensemble des weapons disponibles</h2>

<input type="search" [(ngModel)]="sortInput">
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col" (click)="sortDataBy('name')">Name</th>
    <th scope="col" (click)="sortDataBy('pv')">PV</th>
    <th scope="col" (click)="sortDataBy('attaque')">Attaque</th>
    <th scope="col" (click)="sortDataBy('esquive')">Esquive</th>
    <th scope="col" (click)="sortDataBy('degats')">Degats</th>
    <th scope="col">Details du Weapon</th>
    <th scope="col">Update du Weapon</th>
    <th scope="col">Delete du Weapon</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let weapon of weapons | filter:sortInput">
    <th>{{weapon.name}}</th>
    <th>{{weapon.pv}}</th>
    <th>{{weapon.attaque}}</th>
    <th>{{weapon.esquive}}</th>
    <th>{{weapon.degats}}</th>
    <th> <a routerLink="/detailsWeapon/{{weapon.id}}">
      <span  class="badge">{{weapon.id}}</span>
    </a></th>
    <th>
      <button routerLink="/detailsWeapon/{{weapon.id}}/update">Update</button>
    </th>
    <th>
      <button (click)="delete(weapon.id)">Delete</button>
    </th>
  </tr>
  </tbody>
</table>
<a href="/addWeapon">Ajouter une arme</a>
