<h2>Top Heroes</h2>
<div class="heroes-menu">
  <a *ngFor="let hero of heroes"
     routerLink="/details/{{hero.id}}"
  >
    {{hero.name}}
  </a>
  <!--<li *ngFor="let heroesFirestorm of itemFireBase | async">
    <a routerLink="/details/{{heroesFirestorm.id}}">
      <span  class="badge">{{heroesFirestorm.id}}</span>  {{heroesFirestorm.name}}
    </a>
  </li>-->
</div>

<h2>Le hero le plus joue</h2>
<div class="" *ngIf="heroMostUsed">
  <div *ngFor="let theHero of heroMostUsed">
    {{theHero.name}}
  </div>

</div>
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
